/* Reset default styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  height: 100%;
}
body {
  background: #344a72;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  height: 100%;
  display: flex;
  flex-flow: column;
  /* Center the aside on main or X axis */
  align-items: center;
}
a {
  text-decoration: none;
}
aside {
  width: 50%;
  /* Limit the widths so the form doesn't distort */
  max-width: 400px;
  min-width: 280px;
  background: white;
  border-radius: 5px;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.form-wrap {
  /* align all of the form elements in a column and center */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
.form-wrap h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
.form-wrap .form-group {
  margin: 20px 0;
}
.form-group label {
  /* display as block so that we can style as needed */
  display: block;
  color: #666;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.form-wrap button {
  width: 100%;
  background-color: #49c1a2;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  font-size: 1em;
  cursor: pointer
}
.form-wrap button:hover {
  background-color: #37a08e;
}
.form-wrap .bottom-text {
  text-align: center;
  font-size: 0.8em;
}
footer {
  text-align: center;
  color: white;
}
footer a {
  color: #49c1a2;
}
footer a:hover {
  color: #37a08e;
}
